@model Entities.Models.MailRequest
@{
	ViewData["Title"] = "İletişim";
}
<div class="container">
	<div class="card mt-3 shadow">
		<div class="card-header text-center bg-special text-white shadow">
			<h1 class="card-title">İletişim</h1>
		</div>
		<div class="card-body mb-3">
			<form method="post">
				<div class="form-group">
					<label>E-Posta Adresi</label>
					<input type="text" asp-for="ReceiverMail" class="form-control" />
				</div>
				<div class="form-group">
					<label>Konu Başlığı</label>
					<input type="text" asp-for="Subject" class="form-control" />
				</div>
				<div class="form-group">
					<label>Mesaj</label>
					<textarea class="form-control" asp-for="Body"></textarea>
				</div>
				<button class="btn btn-primary mt-3 float-end shadow">Gönder</button>
			</form>
			<h4 class="mt-4">Diğer:</h4>
			<p class="card-text text-light fs-5 mt-2">
				<a class="icon-link icon-link-hover text-decoration-none " target="_blank" href="https://www.linkedin.com/in/bilge-ka%C4%9Fan-eri%C5%9F-a36495221/">LinkedIn</a>
			</p>
			<p class="card-text fs-5 mt-2  hoverCustom">
				<a target="_blank" class="text-decoration-none " href="https://maps.app.goo.gl/5VybyyUoHV2NV2S26">Maltepe, İstanbul <i class="fa-solid fa-location-dot"></i></a>
				<br />
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48219.39505659287!2d29.114343850008705!3d40.943974551539114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac4336e39827f%3A0x608e0ae971e8ddc2!2sMaltepe%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1716978717248!5m2!1str!2str" width="50%" height="25%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mt-2"></iframe>
			</p>
		</div>
	</div>
</div>