@{
    ViewData["Title"] = "Portfolyo";
}
<div class="container mt-3  ">
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <div class="card bg-special shadow mb-3 mt-5 text-white p-2">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <img src="/css/foto.png" class="card-img-top rounded-3 shadow mb-3" alt="">
                    </div>
                    <div class="col-sm-12 col-md-4 mt-3">
                        <h1 class="ms-3">Eğitim</h1>
                        <br>
                        <div class="list-group shadow">
                            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">California International School</h5>
                                    <small>3. Sınıf</small>
                                </div>
                                <p class="mb-1">6 ay boyunca ileri ingilizce eğitimi.</p>
                                <small>Kaliforniya, ABD</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Kayseri Fen Lisesi</h5>
                                    <small class="text-body-secondary">4 Yıl</small>
                                </div>
                                <p class="mb-1"></p>
                                <small class="text-body-secondary">Kayseri, Türkiye</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Doğuş Üniversitesi</h5>
                                    <small class="text-body-secondary">4 Yıl</small>
                                </div>
                                <p class="mb-1">Yazılım Mühendisliği</p>
                                <small class="text-body-secondary">İstanbul, Türkiye</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 mt-3 mb-3">
                        <h1 class="ms-3">Tecrübe</h1>
                        <ul class="list-group list-group-flush text-center rounded-3 shadow">
                            <li class="list-group-item">Türk Sınai Kalkınma Bankası - 6 Ay</li>
                            <li class="list-group-item">Warmhaus Ana Üretim Fabrikası IT - 1 Ay</li>
                            <li class="list-group-item">Er Metal IT - 1 Ay</li>
                            <li class="list-group-item"></li>
                            
                        </ul>
                        <h1 class="ms-3 mt-2">Diller</h1>
                        <ul class="list-group list-group-flush text-center col-12 rounded-3 shadow">
                            <li class="list-group-item">ASP .Net Core <i class="fa-solid fa-code"></i></li>
                            <li class="list-group-item">HTML <i class="fa-brands fa-html5"></i></li>
                            <li class="list-group-item">CSS - Bootstrap <i class="fa-brands fa-bootstrap"></i></li>
                            <li class="list-group-item">SQL <i class="fa-solid fa-server"></i></li>
                        </ul>
                    </div>
                </div>
                @* <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <h1 class="ms-3 mt-2">Diller</h1>
                        <ul class="list-group ms-3 text-center mb-5">
                            <li class="list-group-item">ASP .Net Core <i class="fa-solid fa-code"></i></li>
                            <li class="list-group-item">HTML <i class="fa-brands fa-html5"></i></li>
                            <li class="list-group-item">CSS - Bootstrap <i class="fa-brands fa-bootstrap"></i></li>
                            <li class="list-group-item">SQL <i class="fa-solid fa-server"></i></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4"></div>
                    <div class="col-sm-12 col-md-4"></div>
                </div> *@
            </div>
        </div>
    </div>
</div>