@{
    ViewData["Title"] = "Home Page";
}


<div class="container text-center mt-4">
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-3">
            <div class="card shadow bg-special" style="height: 25.5rem;">
                <div class="card-body">
                    @*<h5 class="card-title">Hakkımda</h5>*@
                    <h3 class="text-light text-decoration-underline link-offset-3">İletişim</h3>
                    <div class="container vstack gap-2 mt-5">
                        <p class="card-text text-light fs-5 mt-4"><a class="text-decoration-none hoverCustom" target="_blank" href="mailto:kaaneris3@hotmail.com">E-Mail <i class="fa-solid fa-envelope"></i></a></p>
						<p class="card-text text-light fs-5 mt-4">
                            <a class="icon-link icon-link-hover text-decoration-none hoverCustom" target="_blank" href="https://www.linkedin.com/in/bilge-ka%C4%9Fan-eri%C5%9F-a36495221/">LinkedIn</a>
						</p>
                        <p class="card-text fs-5 mt-4  hoverCustom">
                            <a target="_blank" class="text-decoration-none hoverCustom" href="https://maps.app.goo.gl/5VybyyUoHV2NV2S26">Maltepe, İstanbul <i class="fa-solid fa-location-dot"></i></a>
						</p>
                    </div>
				</div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-3"><img src="/css/foto.png" class="img-fluid shadow rounded-3" alt=""></div>
        <div class="col-md-4 col-sm-12 mb-3 vstack gap-5 text-sm-center text-md-start">
            <h1>ASP .NET Core <i class="fa-solid fa-code"></i></h1>
            <h1>HTML <i class="fa-brands fa-html5"></i></h1>
            <h1>CSS - Bootstrap <i class="fa-brands fa-bootstrap"></i></h1>
            <h1>SQL <i class="fa-solid fa-server"></i></h1>
        </div>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <p>Benimle alakalı tüm bilgileri öğrenebileceğiniz, iletişime geçebileceğiniz bir web sitesi.</p>
</div>
