@model IEnumerable<Category>

<ul class="list-group">
    <li class="list-group-item active">Kategoriler</li>
    @foreach(var cat in Model)
    {
        <li class="list-group-item">@cat.CategoryName</li>
    }
</ul>
