<div class="container mt-3  ">
    <div class="row text-center">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <img src="/css/egitim.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Eğitim</h5>
                    <div class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae consequuntur fugiat itaque sequi nam dolorem ratione, eos dolores! Sunt vel cupiditate illum modi rerum sapiente accusamus suscipit ipsa magni. Nihil!</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <img src="/css/yazilim.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Yazılım</h5>
                    <div class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae consequuntur fugiat itaque sequi nam dolorem ratione, eos dolores! Sunt vel cupiditate illum modi rerum sapiente accusamus suscipit ipsa magni. Nihil!</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <img src="/css/kurumsal.webp" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Tecrübe</h5>
                    <div class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae consequuntur fugiat itaque sequi nam dolorem ratione, eos dolores! Sunt vel cupiditate illum modi rerum sapiente accusamus suscipit ipsa magni. Nihil!</div>
                </div>
            </div>
        </div>
    </div>
</div>