@{
    ViewData["Title"] = "Hakkımda";
}

<div class="container mt-3  ">
    <div class="row text-center">
        <div class="col-sm-12 col-md-4 mb-2">
            <div class="card shadow">
                <img src="/css/egitim.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Eğitim</h5>
                    <div class="card-text">Ailemden dolayı birçok şehir ve birçok okul değiştirdim. Anaokulunu Ankara'da okudum ardından 1. sınıfa memleketim olan Bursa'da başladım. 3. sınıfa geldiğimde babamın mesleki eğitimi için Kaliforniya'ya 6 aylığına taşındık. Burada international olarak adlandırılan birçok milletten kişinin eğitim aldığı şimdiki adıyla California International School'da eğitim aldım. Döndüğümüzde Gökçeada'da 4. sınıfa devam ettim. Ardından Kuzey Kıbrıs'da tam zamanlı ingilizce eğitim verene Türk Maarif Kolejinde orta okula başladım ve Kayseri'de lise sınavına girdim. Son olarak da lise eğitimimi tamamladıktan sonra İstanbul Doğuş Üniversitesi Yazılım mühendisliği bölümüne başladım.</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-2">
            <div class="card shadow">
                <img src="/css/yazilim.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Yazılım</h5>
                    <div class="card-text">Yazılıma merakım lise yıllarımda bilgisayar hocamızın teşviğiyle başladı. En başta nesne tabanlı programlama python ile başladım ve lise hayatım bu şekilde geçti. Üniversiteye başladığımda ilgimi daha çok backend kısmı çekmeye başladı ve bu kısma yöneldim. Şuanda ASP .Net Core üzerinde öğrenimime devam etmekteyim.</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-2">
            <div class="card shadow">
                <img src="/css/kurumsal.webp" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Tecrübe</h5>
                    <div class="card-text">İlk zorunlu stajımdan itibaren kurumsal şirketlerde çalışmaya başladım. Bu kurumsal ortamlarda nasıl çalışıldığını, insanlarla iletişimin nasıl olması gerektiğini ve ne kadar önemli olduğunu bana öğretti. Bunun yanında 6 ay gönüllü olarak staj yaptığım Türk Sınai Kalkınma Bankasında çalışan uzmanlardan birçok ileride mesleğime ve bana yarayacak ipuçları ve tavsiyeler aldım.</div>
                </div>
            </div>
        </div>
    </div>
</div>